<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>index</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>com.servlet.user.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign_up</servlet-name>
    <servlet-class>com.servlet.user.Sign_upServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_up</servlet-name>
    <url-pattern>/sign_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign_in</servlet-name>
    <servlet-class>com.servlet.user.Sign_inServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_in</servlet-name>
    <url-pattern>/sign_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryUser</servlet-name>
    <servlet-class>com.servlet.manager.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryUser</servlet-name>
    <url-pattern>/queryUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryZt</servlet-name>
    <servlet-class>com.servlet.manager.QueryZtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryZt</servlet-name>
    <url-pattern>/queryZt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryPl</servlet-name>
    <servlet-class>com.servlet.manager.QueryPlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryPl</servlet-name>
    <url-pattern>/queryPl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manager</servlet-name>
    <servlet-class>com.servlet.manager.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manager</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>mgUser</servlet-name>
    <servlet-class>com.servlet.manager.MgUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mgUser</servlet-name>
    <url-pattern>/mgUser</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>mgPl</servlet-name>
    <servlet-class>com.servlet.manager.MgPlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mgPl</servlet-name>
    <url-pattern>/mgPl</url-pattern>
  </servlet-mapping>
        <servlet>
    <servlet-name>mgZt</servlet-name>
    <servlet-class>com.servlet.manager.MgZtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mgZt</servlet-name>
    <url-pattern>/mgZt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.servlet.user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign_out</servlet-name>
    <servlet-class>com.servlet.user.Sign_outServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_out</servlet-name>
    <url-pattern>/sign_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>self</servlet-name>
    <servlet-class>com.servlet.user.SelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>self</servlet-name>
    <url-pattern>/self</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileImage</servlet-name>
    <servlet-class>com.servlet.user.FileImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileImage</servlet-name>
    <url-pattern>/fileImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zhitie</servlet-name>
    <servlet-class>com.servlet.plant.LiulanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zhitie</servlet-name>
    <url-pattern>/zhitie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fatie</servlet-name>
    <servlet-class>com.servlet.plant.FatieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fatie</servlet-name>
    <url-pattern>/fatie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myzt</servlet-name>
    <servlet-class>com.servlet.plant.MyztServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myzt</servlet-name>
    <url-pattern>/myzt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletezt</servlet-name>
    <servlet-class>com.servlet.plant.DeleteZtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletezt</servlet-name>
    <url-pattern>/deletezt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>this</servlet-name>
    <servlet-class>com.servlet.plant.ThisztServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>this</servlet-name>
    <url-pattern>/this</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletehf</servlet-name>
    <servlet-class>com.servlet.message.DeleteHfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletehf</servlet-name>
    <url-pattern>/deletehf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myhf</servlet-name>
    <servlet-class>com.servlet.message.MyHfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myhf</servlet-name>
    <url-pattern>/myhf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>luntan</servlet-name>
    <servlet-class>com.servlet.plant.LuntanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>luntan</servlet-name>
    <url-pattern>/luntan</url-pattern>
  </servlet-mapping>
</web-app>